<!doctype html>
<html lang="en">
  <head>
    <title>Snow House</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link  rel="stylesheet" href="stylesheets/styles.css">
    </head>
  <body>
    <div class="nav">
    <div class="snologo">
      <img src="images/1.jpg" alt="Snow House Logo" class="logo">
      <div class="title">
        <h5>SNOW HOUSE</h5>
        <p>Snow Ice  * Tapioca  *  Smoothies</p>
      </div>
    </div>
    <div class="flexend">
      <a href="/">Home</a>
      <a href="/menu">Menu</a>
      <a href="/gallery">Gallery</a>
      <a href="#">Contact<span class="hideit"> & Location</span></a>
    </div>
  </div>
  <div class="contactinfo">
    <div class="contactinfocontain">
      <p><strong>For More Information, Call (281) 884-8221</strong></p>
      <p>8361 Spencer Hwy Ste B, Deer Park, TX 77536</p>
      <p>Monday to Wednesday 11:00am - 8:00pm</p>
      <p>Thursday to Saturday 11:00am - 9:00pm</p>
      <p>Sunday Closed</p>
    </div>
        <div class="gmap_canvas" style="width: 100%; height: 10%; margin-left: 10%;">
          <iframe width="80%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=snow%20house&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
  <footer style="margin-top: 450px;">
      <p><em>© 2018 SNOW HOUSE | ALL RIGHTS RESERVED</em></p>
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>